

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(239, 243, 189);
}

h1{
    color:rgb(26, 25, 25);
    text-shadow: 1px 1px 0px black;
}